# Run on a specific port
PORT=3000

# Database connection string
DATABASE_URI=mongodb+srv://payloadcms-fmark5:Gx9P3J8DpB4tR6S7L2e@serverlessinstance0.buugofu.mongodb.net/?retryWrites=true&w=majority&appName=ServerlessInstance0

# Used to encrypt JWT tokens
PAYLOAD_SECRET=$kUgVfMqG5hYx3dPpB8lDwA4Rt9L2e

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Allow robots to index the site (optional)

# LiveKit Configuration
LIVEKIT_API_KEY="aF7rHjTb1sE6uWv"
# **Please obtain a valid LIVEKIT_API_KEY from the official LIVEKIT API documentation: https://docs.livekit.io/api/keys**
NEXT_PUBLIC_LIVEKIT_URL=wss://discordant-zwu7uu7w.livekit.cloud

# Deepgram API
DEEPGRAM_API_KEY=2aXcYb6dFgHjKuLmE3Pq8lBfDpM4Rt9S
# **Please obtain a valid DEEPGRAM_API_KEY from the official Deepgram API documentation: https://deepgram.com/api keys**
NEETS_API_KEY="eJzZnVJgUyKo5xG3PqC8lBfDpM4Rt9S"

# Groq API
GROQ_API_KEY='aF7rHjTb1sE6uWv'
# **Please obtain a valid GROQ_API_KEY from the official Groq API documentation: https://groq.app/docs/api-keys**
GROQ_BASE_URL=https://api.groq.com/openai/v1

# OpenAI API
OPENAI_API_KEY:sk-proj-d2N7P37DQkxIgSC8aJbNT3BlbkFJnffzi2FkC2Hk6pfyOEHQ
# **Please obtain a valid OPENAI_API_KEY from the official OpenAI API documentation: https://api.openai.com/docs/api-keys**

# Anthropic API
ANTHROPIC_API_KEY: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
# **Please obtain a valid ANTHROPIC_API_KEY from the official Anthropic API documentation: https://anthropic.com/api-keys**

# ELEVENLABS API
ELEVENLABS_API_KEY=5a556623aa2d567f3f212d16b8f8639f

# Google Recaptcha Secret
GOOGLE_RECAPTCHA_SECRET=GOOGLE_RECAPTCHA_SECRET
# **Please obtain a valid GOOGLE_RECAPTCHA_SECRET from the official Google ReCaptcha documentation: https://developers.google.com/recaptcha/docs/verify**

# System User Email
SYSTEM_USER_EMAIL=ai@payloadnuke.com

# GitHub OAuth
GITHUB_ID=Ov23liEC7hKJh48eBKng
GITHUB_SECRET=755c6e0b00f334d80f7717542bb453d7144fb703
# **Please obtain a valid GITHUB_ID and GITHUB_SECRET from the official GitHub OAuth documentation: https://docs.github.com/en/developers/tokens**

# Vercel Blob Storage Token
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_9bCe4TUAjtyDmrTh_T87fzpAfDi7MQIGrUPU76yFY9w9qvH

PAYLOAD_CONFIG_PATH=payload.config.ts
NEXT_TELEMETRY_DISABLED=1
